.left {
    float: left;
    width: 33%;
    background-color: aqua;
}

.center {
    float: left;
    width: 33%;
    background-color: crimson;
}

.right {
    float: right;
    width: 20%;
    background-color: deeppink;
}

img {
    max-width: 100%;
}
@media only screen and (max-width: 600px) {

  .left {
    width: 100%;
    float: none;
  }

  .center {
    font-size: 12px;
    width: 100%;
    text-align: center;
  }

  .right {
    width: 100%;
  }

  h1 {
    font-size: 12px;
    font-display: bold;
    height: 80%;
  }

  body {
    background-color: chartreuse;
  }

  img {
    max-width: 30%;
  }
}

